/*стили шапки страницы*/
.header-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 5;
    background: rgba(11, 20, 25, 0.9);
    overflow: hidden;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__end {
        display: flex;
        align-items: center;
    }
    &__ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    &__link {
        color: #fff;
        position: relative;
        text-decoration: none;
        display: block;
        padding: 15px 35px;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        transition: all 0.2s;
    }
    /*стили сработают при наведение на ссылку курсора*/
    &__link:hover &__text {
        color: #1f1f1f;
    }
    /*стили сработают при наведение на ссылку курсора*/
    &__link::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: calc(100% + 40px);
        background: #fff;
        opacity: 0;
        transition: all 0.2s;
    }
    /*стили сработают при наведение на ссылку курсора*/
    &__link:hover::before {
        opacity: 1;
    }
    /*logo-styles start*/
    &__logo {
        width: 50px;
        max-width: 100%;
    }
    /*logo-styles end*/
    /*span-text-styles start*/
    &__text {
        position: relative; // чтобы before не перекрывал текст ссылок
        // transition: all 0.2s;
        transition: color 0.2s;
    }
    /*span-text-styles end*/
    &__nav {
        margin-right: 15px;
    }
    &__burger {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header-page {
        &__link {
            padding: 12px 30px;
            font-size: 16px;
        }
        &__phone {
            font-size: 14px;
            padding: 7px 14px;  
        }
    }
}

/*при 992px будем скрывать меню в бургер*/
@media (max-width: 992px) {
    .header-page {
        padding: 5px 0px;
        &__nav {
            display: none;
        }
        &__burger {
            display: block;
            margin-right: -15px;
        }
    }
}

@media (max-width: 480px) {
    .header-page {
        &__phone {
            display: none;
        }
    }
}