.section-contacts {
    background: #1f1f1f;
}
.contacts {
    display: flex;
    &__start {
        width: 50%;
    }
    &__start {
        width: 50%;
    }
    /*     display: flex;
    &__start, &__end {
        width: 50%;
    } */

}

.section {
}
.section-contacts {
}
.container {
}
.section-contacts__container {
}
.section__header {
}
.section__title {
}
.section-contacts__title {
}
.contacts {
}
.contacts
.contacts__map {
}
.contacts__end {
}
.contacts__item {
}
.contacts__title {
}
.contacts__text {
}
.contacts__phone {
}
.socials {
}
.socials__item {
}
.socials__link {
}
.socials__icon {
}
.socials__icon--vk {
}
.socials__icon--inst {
}
.socials__logo {
}
.socials__icon--fb {
}